
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}
/* nav-section */
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 69px;
}
.nav-logo h4{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    border: 1px solid rgba(128, 128, 128, 0.277);
    border-radius: 39px;
    padding: 11px 4px;
    align-items: center;
}
.nav-card a{
    text-decoration: none;
    color: white;
}
.home a{
    background-color: #E6533C;
    width: 92px;
    height: 37px;
    border-radius: 46px;
    padding: 8px 20px;
}
.humberger{
    color: aliceblue;
}
.hide{
    display: none;
}
/* heading */
.heading{
    max-width: 1200px;
    margin: 90px auto;
    color: azure;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.heading-content{
    width: 50%;
}
.heading-content h1{
    font-size: 5rem;
}
.heading-content p{
    color: #ffffff67;
    margin: 28px 0;
}
.heading-btn>button{
    border: 2px solid rgba(245, 238, 238, 0.504);
    width: 40%;
    color: white;
    background-color: transparent;
    padding: 16px 46px;
    border-radius: 42px;
    gap: 14px;
}



.heading-img {
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.tooltip{
    background-color: rgba(76, 74, 74, 0.532);
    position: absolute;
    right: -13%;
    top: 25%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;

}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E6533C;
    margin: 10px;
}
.tooltip2{
    background-color: rgba(76, 74, 74, 0.532);
    position: absolute;
    left:10%;
    top: 60%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    display: flex;

}

/* fitness section */
.fitness{
    max-width: 1200px;
    margin: 150px auto;
}
.fitness-pragraph{
    width: 60%;
   margin: 0 auto;
    text-align: center;
}
.fitness-pragraph h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.fitness-pragraph p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}
.fitness-skills{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.fitness-skills img{
    border-radius: 50%;
}
.fitness-skills h4{
    font-size: 1.3rem;
    color: azure;
    font-weight: 600;
    margin: 20px 0;
}
.fitness-skills p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/* run-section */
.run{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color:rgba(80, 77, 77, 0.452);
    padding: 45px;
    border-radius: 10px;
    align-items: center;
   

}
.run-pragraph{
    color: aliceblue;
    width: 443px;
    
}
.run-pragraph h2{
    font-size: 3rem;
    font-weight: 700;
    color: azure;
}
.run-pragraph p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}
.run-button{
    width: 244px;
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 35px;
    color: azure;
    margin-bottom: 20px;
}
.run-img img{
    width: 366px;
    border-radius: 15px;
    
    
}
/* images-section */

.images-container{
    max-width: 1200px;
    margin: 120px auto;
}
.images-pragraph h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;

}

.images-pragraph p{
     color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 35px;

}
.images-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
}
.image-img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    
    
}
#card-1 p{
     top: 80%;
    left: 7%;
}
#card-2 p{
    top: 10%;
    left: 5%;
}
#card-3 p{
    top: 70%;
    left: 5%;
    font-weight: 14;
}
#card-4 p{
    top: 10%;
    left: 40%;
}
#card-5 p{
    top: 7cqmax;
    left: 10%;
}
#card-6 p{
    top: 70%;
    left: 10%;
}
.images p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    z-index: 100;
}
.images{
    position: relative;
    overflow: hidden;
}
#card-1{
    background-color: #E6533C;
}
#card-2{
    grid-column: 2/ span 2;
    background-color: rgb(137, 137, 146);
}
#card-3{
background-color: rgb(42, 165, 151);
}
#card-4{
    grid-column: 1/ span 2;
    background-color: chartreuse;
}
#card-5{
    background-color: darkmagenta;
}
#card-6{
    background-color: darkorange;
}
/* trainer-container */
.trainer-container{
    max-width: 1200px;
    margin: 150px auto;
}
.trainer-pragraph{
    color: aliceblue;
    text-align: center;
    
}
.trainer-pragraph h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.trainer-pragraph p{
    font-size: 14;
    color: rgba(182, 172, 172, 0.778);
    margin: 0px auto 58px auto;
    width: 60%;
    
}
.trainer-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 3fr);
}
#sem img{
    width: 100%;
    height: 100%;
}

.trainer-card {
    position: relative;
}
.trainer-card h3{
    position: absolute;
    color: white;
    top: 80%;
    left: 10%;
    z-index: 100;
    font-size: 1.5rem;
    
}
.trainer-card p{
    position: absolute;
    color: white;
    z-index: 100;
    top: 90%;
    left: 10%;
}

.trainer{
    border-radius: 15px;
}
.about{
    background-color: rgb(24, 23, 23);
    padding: 40px 0 30px 0;
}
#about-container{
    max-width: 1200px;
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.about-fitness {
    grid-column: 1/ span 2;
}
.about-fitness h1{
    color: #E6533C;
    font-style: italic;
    font-size: 4.5rem;
    font-weight: 1000;
    /* grid-column: 1/ span 2; */
}
.about-fitness p{
    color: rgba(107, 107, 107, 0.805);
    margin-top: 25px;
    font-size: 14px;
    width: 70%;
}
.about-contract h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.contract-box li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 400;
}
.contract-box a{
    text-decoration: none;
    color: #838080cf;
    margin-bottom: 10px;
}
.about-service h3{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.service-box li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 400;
}
.service-box a{
    text-decoration: none;
    color: #838080cf;
    margin-bottom: 10px;
}
footer{
    color: rgb(109, 112, 112);
    margin: 20px auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.hr{
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}






@media  screen and (max-width:576px) {
    *{
        padding: 0 8px;
    }
    .nav-menu{
        display: none;
    }
    .hide{
        display: flex;
    }
   .heading{
    flex-direction: column;
   }
   .heading-content{
    width: 100%;
}
.heading-img{
    width: 100%;
}
.heading-btn{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.heading-btn>button{
    width: 50%;

}
/* fitness section */

.fitness-skills{
    display: block;
}
.fitness-pragraph{
width: 100%;


}
/* run-section */
.run{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
}
.run-img img{
    width: 98%;
}
.run-pragraph{
    width: 100%;
}
.run-pragraph h2{
    font-size: 2.2rem;
}
.run-pragraph p{
    font-size: 16px;
}

/* images-section */
.images-container{
    
}
.images-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto);
    justify-items: center;
    justify-content: center;
}
#card-3, #card-6{
    display: none;
}

/* trainer-section */
.trainer-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(1, 3fr); */
    gap: 20px;
    
}
#about-container{
    display: inline;
    
}
.about-fitness{
    margin-bottom: 35px;
}
.about-contract{
    margin-bottom: 35px;
}
}