
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}
/* nav-section */
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 69px;
}
.nav-logo h4{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    border: 1px solid rgba(128, 128, 128, 0.277);
    border-radius: 39px;
    padding: 11px 4px;
    align-items: center;
}
.nav-card a{
    text-decoration: none;
    color: white;
}
.home a{
    background-color: #E6533C;
    width: 92px;
    height: 37px;
    border-radius: 46px;
    padding: 8px 20px;
}
.humberger{
    color: aliceblue;
}
.hide{
    display: none;
}
/* heading */
.heading{
    max-width: 1200px;
    margin: 90px auto;
    color: azure;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.heading-content{
    width: 50%;
}
.heading-content h1{
    font-size: 5rem;
}
.heading-content p{
    color: #ffffff67;
    margin: 28px 0;
}
.heading-btn>button{
    border: 2px solid rgba(245, 238, 238, 0.504);
    width: 40%;
    color: white;
    background-color: transparent;
    padding: 16px 46px;
    border-radius: 42px;
    gap: 14px;
}



.heading-img {
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.tooltip{
    background-color: rgba(76, 74, 74, 0.532);
    position: absolute;
    right: -13%;
    top: 25%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;

}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E6533C;
    margin: 10px;
}
.tooltip2{
    background-color: rgba(76, 74, 74, 0.532);
    position: absolute;
    left:10%;
    top: 60%;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    display: flex;

}

/* fitness section */
.fitness{
    max-width: 1200px;
    margin: 150px auto;
}
.fitness-pragraph{
    width: 60%;
   margin: 0 auto;
    text-align: center;
}
.fitness-pragraph h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.fitness-pragraph p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}
.fitness-skills{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.fitness-skills img{
    border-radius: 50%;
}
.fitness-skills h4{
    font-size: 1.3rem;
    color: azure;
    font-weight: 600;
    margin: 20px 0;
}
.fitness-skills p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/* run-section */
.run{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color:rgba(80, 77, 77, 0.452);
    padding: 45px;
    border-radius: 10px;
    align-items: center;
   

}
.run-pragraph{
    color: aliceblue;
    width: 443px;
    
}
.run-pragraph h2{
    font-size: 3rem;
    font-weight: 700;
    color: azure;
}
.run-pragraph p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
}
.run-button{
    width: 244px;
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 35px;
    color: azure;
    margin-bottom: 20px;
}
.run-img img{
    width: 366px;
    border-radius: 15px;
    
    
}









@media  screen and (max-width:576px) {
    *{
        padding: 0 8px;
    }
    .nav-menu{
        display: none;
    }
    .hide{
        display: flex;
    }
   .heading{
    flex-direction: column;
   }
   .heading-content{
    width: 100%;
}
.heading-img{
    width: 100%;
}
.heading-btn{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.heading-btn>button{
    width: 50%;

}
/* fitness section */

.fitness-skills{
    display: block;
}
.fitness-pragraph{
width: 100%;


}
/* run-section */
.run{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
}
.run-img img{
    width: 98%;
}
.run-pragraph{
    width: 100%;
}
.run-pragraph h2{
    font-size: 2.2rem;
}
.run-pragraph p{
    font-size: 16px;
}
}